.menuHeader {
  background-color: rgb(6, 4, 113);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
  border-radius: 30px;
}

.menuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 80px;
  max-width: 1500px;
}

.logo {
  height: 67px;
  width: 100%;
  align-items: center;
  cursor: pointer;
  display: grid;
  flex-grow: 1;
  place-items: left;
}

.navMenu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;

}

.navLinks {
  color: yellow;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.navItens {
  line-height: 40px;
  margin-right: 1rem;
}

.navItens:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .7s ease, background-color 0.5 ease;
}

.navItens:hover:after {
  width: 100%;
  background: yellow;
}

.navItem .active {
  color: yellow;
  border: 1px solid yellow;
}


.product {
  display: inline-flex;
  margin-left: 100px;
  gap: 20px;

}

.product img {
  height: 180px;
}






.footerHome {
  background-color: rgb(6, 4, 113);
  border-radius: 30px;
  color: yellow;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;


}


.serviceClass {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.serviceClass h2 {
  font-style: italic;
  font-size: large;
}

p {
  font-size: x-large;
  margin-left: 50px;
  margin-right: 50px;


}

.productClass {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.productClass h2 {
  font-style: italic;
  font-size: large;
}

.contato {

  margin-left: 200px;
  margin-right: 200px;
  background-color: rgb(33, 201, 243);
}