.menuHeader {
  background-color: rgb(6, 4, 113);
  height: 60px;
  /* Reduzindo a altura do cabeçalho */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  /* Reduzindo o tamanho da fonte */
  position: sticky;
  top: 0;
  z-index: 20;
  border-radius: 15px;
  /* Reduzindo o raio da borda */
}

.menuContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 90%;
  height: 60px;
  /* Reduzindo a altura */
  max-width: 1000px;
  /* Reduzindo a largura máxima */
}

.logo {
  height: auto;
  max-width: 165px;
  align-items: center;
  cursor: pointer;
  display: grid;
  flex-grow: 1;
  place-items: left;
}

.navMenu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 0;
}

.navLinks {
  color: yellow;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  /* Reduzindo o preenchimento */
  height: 100%;
  border-bottom: 2px solid transparent;
  max-width: 100%;
  /* Reduzindo a espessura da borda inferior */
}

.navItem {
  margin-right: 1rem;
}

.product {
  display: flex;
  flex-wrap: wrap;
  /* Permitindo que os itens se ajustem a telas menores */
  justify-content: center;
  gap: 30px;
  /* Reduzindo o espaçamento entre os produtos */
}

.product img {
  max-width: 100%;
  /* Garantindo que as imagens não ultrapassem o tamanho do contêiner */
  height: 200px;
}

.footerHome {
  background-color: rgb(6, 4, 113);
  border-radius: 15px;
  color: yellow;
  height: 60px;
  /* Reduzindo a altura do rodapé */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  max-width: 100%;
  /* Reduzindo o tamanho da fonte */
}

.contato {
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(33, 201, 243);
}

@media screen and (max-width: 768px) {
  .menuHeader {
    height: 50px;
    font-size: 0.8rem;
  }

  .menuContainer {
    height: 50px;
  }

  .navLinks {
    padding: 0.3rem 0.5rem;
  }

  .product {
    gap: 5px;
  }

  .contato {
    margin-left: 10px;
    margin-right: 10px;
  }
}